.top-section{
	background-color: #444444;
	width: 100%;
	height: 16vh;
}

html{
	background-color: #D8D8D8;
}

.main-section {
	background-color: #EFEFEF;
	margin: 0 auto;
	width: 75%;
	
}

.content {
	height: 73vh;	
}

.footer{
	background-color: #222222;
	height: 8vh;
}